* {
	margin: 0;
	padding: 0;
	background-color: #666;
}


.wrapper {
	position: absolute;
	width: 100%;
	min-height: 100%;
	background-color: #fff;
}



.footer1 {
/*position: absolute;*/
/*margin: 20px;*/
	/*clear: both;*/
	position: absolute;
	width: 600px;
	min-height: 100%;
	background-color: #00ff00;
}

.footer2 {
/*position: absolute;*/
/*margin: 20px;*/
	/*clear: both;*/
	width: 600px;
	height: 40px;
	background-color: #ff0000;
}