* {
	margin: 0;
	padding: 0;
}

.parent {
	margin: 0 auto;
	width: 800px;
	/*height: 200px;*/
	background-color: #ccc;
	position: relative;

}

.box1 {
	position: absolute;
	top: 30px;
	left: 30px;
	background-color: green;
}

.box2 {
	position: absolute;
	top: 40px;
	left: 40px;
	right: 40px;
	background-color: yellow;
}

.boxFixed {
	position: fixed;
	top: 10px;
	left: 10px;
	background-color: red;
}

.menu {
	margin: 100px;
	list-style: none;
	/*overflow: hidden;*/
	background-color: #666;
}
.menu li {
	float: left;
	margin: 0px 20px;
	padding: 5px;
}

.menu a {
	border: 1px solid #000;
}

/* Так делать плохо */
.active {
	position: relative;
	top: 30px;
	left: 30px;
}

/* SpriteSheet */

.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-Bitmap_1 {
    width: 100px;
    height: 90px;
    background-position: -5px -5px;
}

.sprite-Bitmap_2 {
    width: 77px;
    height: 71px;
    background-position: -115px -5px;
}

.sprite-Bitmap_3 {
    width: 85px;
    height: 96px;
    background-position: -115px -86px;
}

.sprite-Bitmap_4 {
    width: 77px;
    height: 71px;
    background-position: -202px -5px;
}

.sprite-Bitmap_5 {
    width: 85px;
    height: 96px;
    background-position: -289px -5px;
}

.sprite-Bitmap_6 {
    width: 90px;
    height: 98px;
    background-position: -5px -111px;
}

.sprite-Bitmap_7 {
    width: 101px;
    height: 112px;
    background-position: -210px -111px;
}

.sprite-Bitmap_8 {
    width: 85px;
    height: 120px;
    background-position: -5px -233px;
}
